<input type = "text" ng-model="madLib.adjective1" id = "adjective1" placeholder = "adjective">
<input type = "text" ng-model="madLib.verb1" id = "verb1" placeholder = "verb">
<input type = "text" ng-model="madLib.noun1" id = "noun1" placeholder = "noun">
<input type = "text" ng-model="madLib.adjective2" id = "adjective2" placeholder = "adjective">
<input type = "text" ng-model="madLib.noun2" id = "noun2" placeholder = "noun">
<input type = "text" ng-model="madLib.noun3" id = "noun3" placeholder = "noun">
<input type = "text" ng-model="madLib.verb2" id = "verb2" placeholder = "verb">

<button ng-click="ourFunc(madLib)">Submit</button>