header {

	text-align: center;
}

body {

	background-color: yellow;
}

h1 {

	font-family: "Verdana";
	text-align: center;
}

h2 {

	font-family: "Verdana";
	text-align: center;
}

div ul {

	list-style-type: none;
	text-align: left;
}

div p {

	text-align: center;
}

img {

	box-shadow: 10px 5px
}