body {
	background-color: rgb(5,36,65);
}

img {

	height: 20em;
	width: 20em;
	border: 1em;
	border-radius: 2em;
	margin: 2em;
	box-shadow: 1em #666;
	text-align: center;
}


h1 {

	font-family: "Lobster", "Verdana";
	text-align: center;
}

fieldset {

	background-color: #679fd2;
}

.name {

	border-bottom: 1px solid black;
	margin: 10px;
	padding-bottom: 10px;
}

.email {

	border-bottom: 1px;
	margin: 10px;
}

.comments {

	border-bottom: 1px;
	margin: 10px;
	padding-bottom: 10px;
}

.submit {

	background-color: rgb(5,36,65);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

* {

	color: #679fd2;
}

div p {

	width: 20em;
	margin: 2em;
	text-align: center;
	display: inline-block;
}

.labHeading {

	font-family: "Lobster", "Verdana";
	font-weight: bold;

}